In [1]:
import numpy as np
import pandas as pd

In [5]:
x=np.arange(0,10,.1)
y=np.sin(x*1.5)
z=np.cos(x*1.5)
df=pd.DataFrame({'Time':x , 'YVals':y , 'ZVals':z})

In [7]:
df.head()

   Time     YVals     ZVals
0   0.0  0.000000  1.000000
1   0.1  0.149438  0.988771
2   0.2  0.295520  0.955336
3   0.3  0.434966  0.900447
4   0.4  0.564642  0.825336

In [11]:
file='out.txt'
df[10:16][['YVals' , 'ZVals']].to_csv(file)
print ('Data written to {0}'.format(file))

Data written to out.txt